body{
    margin: 0px;
    padding: 0px;
    background-image: url(bg1.png);   
}

#lo{
    display: flex;
    margin-top:12%;
    width: 500px;
    margin-bottom: 30px;
    padding-left:20px;
    text-align: justify;
  }
  #oo{
    margin-left:25%;
    text-decoration: none;
    font-size:2em;
    border:3px solid black;
    color:black;
    border-radius: 10px; 
    animation-name:oo;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;   
}
@keyframes oo{
    20%{
    color:rgb(17, 17, 17);
    background-color: tomato;
    }
    
    100%{
        color: black;
        background-color: rgb(154, 30, 8);
    }
}